.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.main>section>a{
    color: black;
}

.main>section>a:hover{
    color: rgb(163, 163, 163);
}

.principalInfo>div:nth-child(1){
    width: '30%';
}

.principalInfo>div:nth-child(1) img{
    width: '100%';
}

.principalInfo>div:nth-child(2)>div:nth-child(1){
    animation: bottomUp 1.5s;
    display: flex;
    flex-direction: column;
}

.principalInfo>div:nth-child(2)>div:nth-child(2){
    animation: bottomUp 1s;
    display: flex;
    flex-direction: column;
}

.principalInfo>div:nth-child(2)>div:nth-child(3){
    animation: bottomUp 2s;
    display: flex;
    flex-direction: column;
}

.main hgroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
    animation: fade 0.8s;
}

.main hgroup span{
    color: rgb(197, 197, 197);
}

.otherInfos div{
    display: flex; 
    justify-content: center;
    width: 100%;
}

.otherInfos div div{
    display: flex;
    justify-content: flex-start;
}

.main hr{
    width: 70%;
    padding: 1rem 0;
}
